<app-pokemon-list-item [pokemonNumber]="1" class="p-3"></app-pokemon-list-item>
<app-pokemon-list-item [pokemonNumber]="2" class="p-3"></app-pokemon-list-item>
<app-pokemon-list-item [pokemonNumber]="3" class="p-3"></app-pokemon-list-item>
<app-pokemon-list-item [pokemonNumber]="4" class="p-3"></app-pokemon-list-item>
<app-pokemon-list-item [pokemonNumber]="5" class="p-3"></app-pokemon-list-item>
<app-pokemon-list-item [pokemonNumber]="6" class="p-3"></app-pokemon-list-item>
<app-pokemon-list-item [pokemonNumber]="7" class="p-3"></app-pokemon-list-item>
<app-pokemon-list-item [pokemonNumber]="8" class="p-3"></app-pokemon-list-item>
<app-pokemon-list-item [pokemonNumber]="9" class="p-3"></app-pokemon-list-item>
